.container{
    margin-top: 10%;
    width: 64vh;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 17px;
}
.form-text{
    position: absolute;
    top: 12%;
    left: 45%;
    font-weight: 500;
}